extends layout

block content
    .bb
      .bg-1-container
        .goto-1
          h1.title BLACK FRIDAY
          p.description
            | 최대 30% 할인 및 월드컵 기념 추가 2만원 바우처까지​ 함께
            | 하는 블랙 프라이데이 혜택을 만나보세요​
            br
            |                 11.24-12.04
          a.buy-btn(href='#')
            span
              | 지금 구매하기
            span
        .bg-1
          .square.one
            .image-1
              img(src='https://media.gq-magazine.co.uk/photos/5d13974a86dd7e839c553676/16:9/w_2560%2Cc_limit/image.jpg' alt='')
          .square.two
            .image-2
              img(src='https://media.gq-magazine.co.uk/photos/5d13974b64c42a3eb2224e2f/master/w_1755,h_1170,c_limit/SPEZIAL-07-GQ-03Sep15_pr_b.jpg' alt='')
          .square.three
            .image-3
              img(src='https://media.self.com/photos/605ce69c65f768e4a253194d/4:3/w_2560%2Cc_limit/20201111_PELOTON_STRIPES_ALLY_LOVE_ONLOCATION_0113___R4.jpg' alt='')
          .square.four
            .image-4
              img(src='https://report.adidas-group.com/2019/en/pics/img/home_separator2.jpg' alt='')
      .bg-2
        .bg-2-inner-container
          .title-container
            .flex-box
              .slide-box-title
                h1 SHARE YOUR HOLIDAY SPRIT
              .slide-box-desc
                p 나눌 수록 즐거워지는 3-스트라이프와 함께하는 연말을 만나보세요
          .slide-img-box
            .inner-slide-img-box
              .main-img1.mimg
                img(src='https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt9e857661ea31834d/630de027ee3cca199e891e6d/adidas_2022_World_Cup_kits.jpg' alt='adidas')
                h3 adidas uniform
                p get it
                a(href='')
                  div
                    | 지금 구매하기
              .main-img2.mimg
                img(src='https://c4.wallpaperflare.com/wallpaper/504/529/88/adidas-logo-green-sports-wallpaper-preview.jpg' alt='')
                h3 Adidas originals
                p Watch Now
                a(href='')
                  div
                    | 지금 구매하기
              .main-img3.mimg
                img(src='https://www.pixel4k.com/wp-content/uploads/2018/10/adidas-sneakers-sports-4k_1540061561.jpg' alt='')
                h3 Adidas Sport Shoes
                p Do you want it?
                a(href='')
                  div
                    | 지금 구매하기
              .main-img4.mimg
                img(src='https://brand.assets.adidas.com/video/upload/q_auto,vc_auto/video/upload/studioa-dtc-samba_carry_over-fw22-hp-teaser-carousel-dmt_eqood8.jpg' alt='')
                h3
                h3 Adidas Gasell
                p Get it now
                a(href='')
                  div
                    | 지금 구매하기
      .bg-3
      .sale
      .recommand
    script(src='js/index.js')
    script(src='js/js.js')
