doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/purchase.css') 
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet")
  body
    .contaier.ubuntu
      .inner-container
        form(action="")
          div.category
            label(for="addres")
            |Address
            input(type="text" id="address" placeholder="Address" name="addr")
          
          div.inline.category
            div
              label(for="name")
              |Name
            input(type="text" id="name" placeholder="Name" name="name")

          div.inline.category
            div
              label(for="phone")
              |Phone
            input(type="tel" id="phone" placeholder="Phone" name="phone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}")

          div.inline-em.category.flex
            div
              label(for="em")
              |E-mail
              input(type="text" id="em" placeholder="email" name="email")
            div.inline.category.w30.selectbox
              label Choose
              select(name="email")
                option(value="@naver.com") @naver.com 
                option(value="@kakao.com") @kakao.com 
                option(value="@daum.net") @daum.net 
                option(value="@nate.net") @nate.net 
                option(value="@google.com") @google.com
          .category 
            button.create.w80(type='submit') Create

  script.
