extends layout
block content
    head
        link(rel='stylesheet' href='/css/wishilists.css')
    body.w-100.h-100
        if 1
            div.ByTk-myWishListContainer.w-fit.m-auto
                div.h2
                    | 나의 관심 목록
                div
                    div
                        | 총 0 주문 상품
                    div
                        | 아직 관심 목록에 저장한 항목이 없습니다. 쇼핑을 시작하고 관심목록에 좋아하는 제품을 추가하세요.