html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.w-100{
    width: 100%;
}
.h-100{
    width: 100%;
}
.w-fit{
    width: 100%;
}
.m-auto{
    margin: auto;
}
.h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.ByTk-myWishListContainer{
    margin-top: 200px;
}
